course-material
assets
Assets.xcassets

# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.pbxproj

# Xcode build output
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/